<painel-menu (sendNewPayment)="eventNewPayment()" (sendNewCreditCard)="eventNewCreditCard()"></painel-menu>
<div class="fullContent" *blockUI="'ngBlockCreditCard'">
    <div class="home">
        Seus gastos em cartão(es): 
        <div *ngFor="let creditCard of creditCards;">
            {{creditCard.description}} -
            {{creditCard.total}}
        </div>

        <div class="chart-wrapper">
            <canvas baseChart (click)="onSelectedCC()"
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
            [colors]="pieChartColors">
          </canvas>
        </div>
    </div>
</div>