.login-container
    height 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

.formLogin
    width: auto;

.formLogin div
    width: 300px;

.btn-send-login
    width: 100%;

.links
    text-align: center;
    margin: 10px;
    cursor: pointer;