.painelMenu
    width: 100%
    height: 60px
    display: flex
    justify-content: center
    background-color: #6c757d
    color: #ffffff

.contentPainelMenu
    width: 100%
    max-width: 1000px
    height 60px
    display: flex
    align-items: center

.contentPainelMenu 
    ul
        width: 100%
        display: flex 
        justify-content: space-between
        align-items: center
        margin: 0

.contentPainelMenu 
    ul 
        li
            list-style: none
            cursor: pointer

.contentButtons
    width: 100px
    display: flex
    justify-content: space-around
    font-size: 28px

.filledIn
    width: 30px
    height 30px