<div class="painelMenu">
    <div class="contentPainelMenu">
        <ul>
            <li (click)="home()">Logo aqui</li>
            <li (click)="creditCardUrl()">Seus cartões</li>
            <!-- <li (click)="home()">Casa</li> -->
            <div class="contentButtons" *ngIf="isCreditCard">
                <li (click)="openModalCC(modalCC)"><i class="far fa-credit-card fa-lg"></i></li>
                <li (click)="openModalPayment(modalPayment)"><i class="fas fa-money-bill fa-lg"></i></li>    
            </div>
        </ul>
    </div>
</div>
    
<ng-template #modalCC>
    <div class="modal-body">
        <h4 class="modal-title pull-left">Adicione seu cartão</h4>
        <form class="client-form" [formGroup]="form" (ngSubmit)="registerCreditCard()" >
            <input class="form-control description" placeholder="Descrição do cartão" name="description" formControlName="description">
            <button class="btn btn-primary " [disabled]="!form.valid" (click)="modalCreditCard.hide();">Criar</button>
        </form>
    </div>
</ng-template>


<ng-template #modalPayment>
    <div class="modal-body">
        <h4 class="modal-title pull-left">Adicione seu Pagamento</h4>
        <form class="client-form" [formGroup]="formPayment" (ngSubmit)="registerPayment()" >
            <select class="form-control" formControlName="creditCard">
                <option [value]="selecioneocartao"> Selecione o cartão</option>
                <option *ngFor="let item of creditCard" [ngValue]="item">{{item.description}}</option>
            </select>
            <input class="form-control description" placeholder="Descrição" name="description" formControlName="description">
            <input class="form-control value" placeholder="Valor" name="value" formControlName="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
            <div style="display: flex;">
                <input class="form-control filledIn" type="checkbox" name="isFinancial" (change)="isFinancial = !isFinancial" formControlName="isFinancial" />
                <label for="isFinancial">é financiamento?</label>    
            </div>
            <input class="form-contorl financialDuration" placeholder="parcelamento" name="financialDuration" formControlName="financialDuration" *ngIf="isFinancial"/>
            <button class="btn btn-primary" [disabled]="!formPayment.valid" (click)="closeModalPayment();">Criar</button>
        </form>
    </div>
</ng-template>