.fullContent
    min-width: 100%
    height: 100vh

.creditCard
    width: 100%
    max-width: 1000px
    margin: 0 auto
    padding-top: 20px

form
    margin: 20px

.paymentsList
    width: 600px
    margin: 0 auto
    padding-bottom: 50px

.paymentsMonth
    margin: 20px
    text-transform: capitalize

.paymentsMonth div:nth-child(1)
    border-bottom: 1px solid black
    border-bottom-right-radius: 5px
    height 27px
    padding-top: 4px

.paymentsMonth div:nth-child(3)
    border-bottom: 1px solid black
    border-bottom-left-radius: 5px
    height 27px
    padding-top: 4px

.paymentsMonth div:nth-child(2)
    height: 23px
    padding-top: 4px
    border-top: 1px solid black
    border-left: 1px solid black
    border-right: 1px solid black
    border-top-left-radius: 5px
    border-top-right-radius: 5px

.ccInputs
    display: flex
    align-items: center
    width: 100%
    min-height: 100px

    input   
        width: 300px
        margin-left: 19px

.inputValue
    input   
        width: 90px
        margin-left: 5px

.labelDescValue
    margin-left: 5px
    margin-top: 20px
    margin-bottom: 0px

.inputsCC
    display: flex
    flex-flow: column

.labelDesc
    margin-left: 20px
    margin-bottom: 0px

.btnAdd
    margin-top: 25px
    margin-left: 55px

.btnDelete
    font-size: 30px
    color: red
    margin-left: 20px
    margin-top: 30px
    cursor: pointer

.addNewParcela
    margin: 30px

.inputsCC
    margin: 20px

.deleteCreditCard
    margin-left: 20px

.totalCreditCard
    display: flex
    justify-content: flex-end

.inputMoney, .inputMoneyTotal
    border: none
    background-color: transparent

.inputMoneyTotal
    font-weight: bold

.modalDeleteCC
    display: flex
    flex-flow: row wrap
    justify-content: center

.buttons
    width: 140px
    display: flex
    justify-content: space-around

